node_modules
dist
.next
*.tsbuildinfo
*.local

.turbo

*.log
vite-dev.log

.env
.env.*
!.env.example

.DS_Store
Thumbs.db

# Editor
.vscode
.idea
*.swp
*.swo

# Testing
coverage
playwright-report
test-results

# Bun
bun.lockb
